/*Estilos Base*/
.contenedor-img {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #fff;
}
.contenedor-img .mascara,.contenedor-img .contenido {
  /*width: 300px;*/
  /*height: 200px;*/
  position: absolute;
  overflow: hidden;
  height: 100%;
  top: 0;
  left: 0
}
.contenedor-img img {
  display: block;
  position: relative;
}
.ejemplo-3 img {
  transition: all 0.4s ease-in-out;
}
.ejemplo-3 .mascara {
  background-color: #f2f2f2;
  transform: translateX(-100%);/*Desplazamos 300px a la izquierda*/
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
.ejemplo-3:hover .mascara {
  transform: translateX(0px);/*Regresamos a su posicioón original*/
}
.ejemplo-3:hover img {
  transform: translateX(150%);/*Desplazamos 300px a la derecha*/
}
/* Declarar colores */
.blue-box{
  background-color: #25c8c0;
  color: #fff;
}
.red-box{
  background-color: #e75d61 ;
  color: #fff;
}
.gray{
  color:  #999999;
}
.red{
  color: #e75d61;
}
.red-dark{
  background-color: #d12225;
  left: 7px;
  position: absolute;
  width: 7px;
  height: 100%;
}
.blue{
  color: #00adb6;
}
.blue-dark{
  background-color: #007873;
  left: 7px;
  position: absolute;
  width: 7px;
  height: 100%;
}
/* Fin colores */
#img-curso{
  left: -31px;
  top: 49px;
  position: absolute;
}
.line{
  border-top: 5px solid #00adb6;
}
#info{
  position: absolute;
  right: 0;
  height: 100%;
}
.small-space{
  margin-top: 2%;
}
.top-space{
  margin-top: 4%;
}
.text{
  font-size: 18px;
}
.bold{
  font-weight: bold;
}
#NivelSuperior{
  margin-top:90px;
}
.header{
  font-size: 30px;
  font-weight: bold;
}
#head{
  /*width: 92%;*/
  position: fixed;
  right: 0;
  background-color: #00adb6;
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
  height: 73px;
  z-index: 100;
}
#head p{
  margin-top: 0.5%;
  margin-left: 0.5%;
  width: 85%;
}
#head img{
  position: absolute;
  width: 12%;
  right: 1%;
  top: 10%;
}

.stuff_menu{
  background-color: #f2f2f2;
  position: relative;
  height: 12%;

}
.stuff_menuLast{
  background-color: #f2f2f2;
  position: relative;
  height: 80px;

}
#abs{
  position: fixed;
  padding: 0;
  /*width: 8%;*/
  /*min-width: 65px;*/
}

#hamburger{
  width: 45%;
  margin-left: 26%;
  margin-top: 19%;
}
.img_pos{
  width: 45%;
  margin-left: 26%;
  margin-top: 19%;
}

#little_two{
  top: 12%;

}
#little_th{
  top: 22%;
}
#little_f{
  top: 34%;
}
#little_five{
  top: 46%;
}
#little_six{
  top: 58%;
}
/*@media (max-width: 800px) {*/
  /*body{*/
    /*width: 800px;*/
  /*}*/
/*}*/
